@{
    ViewData["Title"] = "Home Page";
}

    <body>

        <form method="post">
            <fieldset>
                <legend>Monthly Budget</legend>
                <div class="row">
                    <div class="col-md-4">
                        <div>
                            <label for="netPay">Monthly Net Pay:</label>
                            <input type="text" id="netPay" value="0" />
                        </div>
                        <div>
                            <label for="netPay2">Extra Income:</label>
                            <input type="text" id="netPay2" value="0" />
                        </div>
                        <br />
                        <h4>Expenses</h4>
                        <div >
                            <label for="housing">Housing:</label>
                            <input type="text" id="housing" value="0" />
                        </div>
                        <div>
                            <label for="utilities">Utilities:</label>
                            <input type="text" id="utilities" value="0" />
                        </div>
                        <div>
                            <label for="otherBills">Other Bills:</label>
                            <input type="text" id="otherBills" value="0" />
                        </div>
                    </div>
                    <div class="col-md-4">

                 
                        <h4>Split Percentages</h4>
                        <div>
                            <label for="savings">Savings:</label>
                            <input type="text" id="savings" value="20" />
                        </div>
                        <div>
                            <label for="food">Food:</label>
                            <input type="text" id="food" value="40" />
                        </div>
                        <div>
                            <label for="entertainment">Entertainment:</label>
                            <input type="text" id="entertainment" value="20" />
                        </div>
                        <div >
                            <label for="others">Others:</label>
                            <input type="text" id="others" value="20" />
                        </div>
                        <div>
                            <label>&nbsp;</label>
                            <input type="button" value="Calculate" onclick="CalculateBudget()" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div >
                            <label for="remaining">Remaining:</label>
                            <input type="text" id="remaining" value="0" />
                        </div>
                        <h4>Each category gets</h4>

                        <div >
                            <label for="savings1">Savings:</label>
                            <input type="text" id="savings1" value="0" />
                        </div>
                        <div >
                            <label for="food1">Food:</label>
                            <input type="text" id="food1" value="0" />
                        </div>
                        <div >
                            <label for="entertainment1">Entertainment:</label>
                            <input type="text" id="entertainment1" value="0" />
                        </div>
                        <div >
                            <label for="others1">Others:</label>
                            <input type="text" id="others1" value="0" />
                        </div>

                    </div>
                </div>
            </fieldset>
        </form>
    </body>
    