@model Domain.Goal

@{
    ViewData["Title"] = "CreateGoals";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>CreateGoals</h2>

<h4>Goal</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateGoals">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Savings" /> @Html.DisplayNameFor(model => model.Savings)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="CurrentSavings" class="control-label"></label>
                <input asp-for="CurrentSavings" class="form-control" />
                <span asp-validation-for="CurrentSavings" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SavingsPerMonth" class="control-label"></label>
                <input asp-for="SavingsPerMonth" class="form-control" />
                <span asp-validation-for="SavingsPerMonth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Months" class="control-label"></label>
                <input asp-for="Months" class="form-control" />
                <span asp-validation-for="Months" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateChecker" class="control-label"></label>
                <input asp-for="DateChecker" class="form-control" />
                <span asp-validation-for="DateChecker" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SavingsEstimated" class="control-label"></label>
                <input asp-for="SavingsEstimated" class="form-control" />
                <span asp-validation-for="SavingsEstimated" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TargetSavings" class="control-label"></label>
                <input asp-for="TargetSavings" class="form-control" />
                <span asp-validation-for="TargetSavings" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="SavingsTowardGoal" /> @Html.DisplayNameFor(model => model.SavingsTowardGoal)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="GoalsSavings" class="control-label"></label>
                <input asp-for="GoalsSavings" class="form-control" />
                <span asp-validation-for="GoalsSavings" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EstimatedHighLoan" class="control-label"></label>
                <input asp-for="EstimatedHighLoan" class="form-control" />
                <span asp-validation-for="EstimatedHighLoan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EstimatedLowLoan" class="control-label"></label>
                <input asp-for="EstimatedLowLoan" class="form-control" />
                <span asp-validation-for="EstimatedLowLoan" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GoalSavingsPerMonth" class="control-label"></label>
                <input asp-for="GoalSavingsPerMonth" class="form-control" />
                <span asp-validation-for="GoalSavingsPerMonth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MonthGoals" class="control-label"></label>
                <input asp-for="MonthGoals" class="form-control" />
                <span asp-validation-for="MonthGoals" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GoalsName" class="control-label"></label>
                <input asp-for="GoalsName" class="form-control" />
                <span asp-validation-for="GoalsName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GoalsDateChecker" class="control-label"></label>
                <input asp-for="GoalsDateChecker" class="form-control" />
                <span asp-validation-for="GoalsDateChecker" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EstimatedHighTotal" class="control-label"></label>
                <input asp-for="EstimatedHighTotal" class="form-control" />
                <span asp-validation-for="EstimatedHighTotal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EstimatedLowTotal" class="control-label"></label>
                <input asp-for="EstimatedLowTotal" class="form-control" />
                <span asp-validation-for="EstimatedLowTotal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LoanTermInYears" class="control-label"></label>
                <input asp-for="LoanTermInYears" class="form-control" />
                <span asp-validation-for="LoanTermInYears" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InterestRate" class="control-label"></label>
                <input asp-for="InterestRate" class="form-control" />
                <span asp-validation-for="InterestRate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
