
@{
    ViewData["Title"] = "SeeVideo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Video of all function within Budget Pages</h2>

<video controls="controls">
    <source src="~/videos/2019-07-08%2001-55-22.mp4" type="video/mp4" />
</video>
